
<h2>Detalhes do pré-agendamento</h2>

<p>Nome do pet: @ViewBag.nome</p>
<p>Data da consulta: @ViewBag.data</p>
<p>Telefone para contato: @ViewBag.telefone</p>
<p>Tipo do pet: @ViewBag.animal</p>
<p>Necessidade: @ViewBag.necessidade</p>

<h3>Em breve entraremos em contato!</h3>
